option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: FoodApp_by_Sage.wsgi:application
  aws:elasticbeanstalk:environment:proxy:
    ProxyServer: nginx

files:
  "/etc/nginx/conf.d/custom_nginx.conf":
    mode: "000644"
    owner: root
    group: root
    content: |
      location /static/ {
          alias /var/app/current/staticfiles/;
          expires 30d;
          add_header Cache-Control "public, no-transform";
      }

container_commands:
  01_mkdir_staticfiles:
    command: "mkdir -p staticfiles"
  02_remove_collected_static:
    command: "rm -rf staticfiles/*"
    ignoreErrors: true
  03_collectstatic:
    command: "source /var/app/venv/*/bin/activate && python manage.py collectstatic --noinput"