option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: FoodApp_by_Sage.wsgi:application
  aws:elasticbeanstalk:environment:proxy:
    ProxyServer: nginx

files:
  "/etc/nginx/conf.d/proxy.conf":
    mode: "000644"
    owner: root
    group: root
    content: |
      upstream django {
          server 127.0.0.1:8000;
      }

      server {
          listen 80;

          location / {
              proxy_pass http://django;
              proxy_set_header Host $host;
              proxy_set_header X-Real-IP $remote_addr;
          }

          location /static/ {
              alias /var/app/current/staticfiles/;
          }

          location /media/ {
              alias /var/app/current/media/;
          }
      }

container_commands:
  01_collectstatic:
    command: "source /var/app/venv/*/bin/activate && python manage.py collectstatic --noinput"