option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: FoodApp_by_Sage.wsgi:application
  aws:elasticbeanstalk:environment:proxy:
    ProxyServer: nginx

files:
  "/etc/nginx/conf.d/custom_nginx.conf":
    mode: "000644"
    owner: root
    group: root
    content: |
      types {
          text/css css;
          text/javascript js;
          image/webp webp;
      }
      
      location /static/ {
          alias /var/app/current/staticfiles/;
          add_header Content-Type text/css;
          add_header Access-Control-Allow-Origin *;
          expires 30d;
          try_files $uri $uri/ =404;
      }
      
      location ~ \.css$ {
          add_header Content-Type text/css;
      }
      
      location /media/ {
          alias /var/app/current/media/;
          expires 30d;
          try_files $uri $uri/ =404;
      }

container_commands:
  01_makedir:
    command: "mkdir -p /var/app/current/staticfiles"
  02_chmod_static:
    command: "chmod -R 755 ./static"
  03_collectstatic:
    command: "source /var/app/venv/*/bin/activate && python manage.py collectstatic --noinput --clear"
  04_chmod_staticfiles:
    command: "chmod -R 755 ./staticfiles"