option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: FoodApp_by_Sage.wsgi:application
  aws:elasticbeanstalk:environment:proxy:
    ProxyServer: nginx

files:
  "/etc/nginx/conf.d/custom_nginx.conf":
    mode: "000644"
    owner: root
    group: root
    content: |
      location /static/ {
          alias /var/app/current/static/;
      }

container_commands:
  01_mkdir_static:
    command: "mkdir -p /var/app/current/static"
  02_collectstatic:
    command: "source /var/app/venv/*/bin/activate && python manage.py collectstatic --noinput"